# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest
  
stages:
- stage: Build
  jobs:
  - job: FirstJob
    steps:
    - bash: echo Build FirstJob
    - bash: echo $(PipelineLevelVariable)
  - job: SecondJob
    steps:
    - bash: echo Build SecondJob  
- stage: DevDeploy
  variables:
    environment: Dev
  jobs:
  - job: DevDeployJob
    steps:
    - bash: echo $(environment)DeployJob
- stage: QADeploy
  jobs:
  - job: QADeploy
    steps:
     - bash: echo $(environment)DeployJob
- stage: ProdDeploy
  jobs:
  - job: ProdDeployJob
    steps:
    - bash: echo ProdDeployJob




